form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 0;
    width: 100%;
}

input {
    width: 100%;
    margin-bottom: 5px;
}

.plus-minus-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.plus-minus {
    border-radius: 20px;
    margin: 20px 0 10px;
}

.calculate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015294;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 33px;
}

.active{
    background-color: #015294;
}

.deactive {
    background-color: #4a4a4a;
}

.table-component-hide {
    display: none;
}

.table-component-show {
    display: block;
    padding: 30px 15px 0;
}